In [2]:
import pandas as pd
import json
import os

In [3]:
l = []

for root, dirs, files in os.walk(".", topdown=False):
    for name in files:
        if name.endswith('.json'):
            l.append(str(os.path.join(name)))

In [4]:
l

['airlines-1558527599826.json',
 'airlines-1558546003827.json',
 'airlines-1558611772040.json',
 'airlines-1558623303180.json',
 'airlines-1558678330070.json',
 'airlines-1558744391657.json',
 'airlines-1558779687636.json']

In [5]:
df = pd.read_json(l[1], lines=True)
# drop columns
columns_to_drop = ['id_str', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'quoted_status_id_str',
                           'favorited', 'retweeted', 'filter_level', 'timestamp_ms', 'retweeted_status', 'delete']
df.drop(columns_to_drop, axis=1, inplace=True)
# print the modified dataframe
df_user= df[['user']].copy()
df_user

                                                    user
0      {'id': 197146011, 'id_str': '197146011', 'name...
1      {'id': 59310222, 'id_str': '59310222', 'name':...
2      {'id': 18590201, 'id_str': '18590201', 'name':...
3      {'id': 714032634616221696, 'id_str': '71403263...
4      {'id': 50071359, 'id_str': '50071359', 'name':...
...                                                  ...
14134  {'id': 1040179596086452224, 'id_str': '1040179...
14135  {'id': 2986233633, 'id_str': '2986233633', 'na...
14136  {'id': 210812495, 'id_str': '210812495', 'name...
14137  {'id': 18332190, 'id_str': '18332190', 'name':...
14138  {'id': 933807497395298305, 'id_str': '93380749...

[14139 rows x 1 columns]

In [7]:
s = []
s2 = []
dict_user = df_user.to_dict()
for d in dict_user.values():
    for n in d.values():
        s.append(n)

for g in s[0]:
    s2.append(g)
df_userok = pd.DataFrame.from_dict(s[0], orient='index')

In [8]:
df_userok

                                                                                    0
id                                                                          197146011
id_str                                                                      197146011
name                                                                            DaveM
screen_name                                                                   Waddy6X
location                                                                         None
url                                                                              None
description                                                                      None
translator_type                                                                  none
protected                                                                       False
verified                                                                        False
followers_count                                                                     4
friends_count                                                                     108
listed_count                                                                        0
favourites_count                                                                  731
statuses_count                                                                    106
created_at                                             Thu Sep 30 19:20:45 +0000 2010
utc_offset                                                                       None
time_zone                                                                        None
geo_enabled                                                                     False
lang                                                                             None
contributors_enabled                                                            False
is_translator                                                                   False
profile_background_color                                                       C0DEED
profile_background_image_url         http://abs.twimg.com/images/themes/theme1/bg.png
profile_background_image_url_https  https://abs.twimg.com/images/themes/theme1/bg.png
profile_background_tile                                                         False
profile_link_color                                                             1DA1F2
profile_sidebar_border_color                                                   C0DEED
profile_sidebar_fill_color                                                     DDEEF6
profile_text_color                                                             333333
profile_use_background_image                                                     True
profile_image_url                   http://pbs.twimg.com/profile_images/3788000006...
profile_image_url_https             https://pbs.twimg.com/profile_images/378800000...
default_profile                                                                  True
default_profile_image                                                           False
following                                                                        None
follow_request_sent                                                              None
notifications                                                                    None